@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body{
    font-family:  'Open Sans', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}

.js-clock{
text-align: right;
}
.main__screen{
    display: flex;
    margin: 100px 0px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  
}
.js-greetings {
    margin-bottom: 40px;
    font-size:30px;
    font-weight: 900;
}
.js-form__input,
.js-toDoForm__input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.js-weather{
    display: block;
    text-align: right;
}



.form,
.greetings{
    display: none;
}
.showing{
    display: block;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn{
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}




