@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body{
    font-family:  'Open Sans', sans-serif;
}

.js-form input{
    background-color: rgba(0,0,0,0);
    color: black;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 1.5rem;
    transition: all 0.3s ease-out;
    width: 100vw;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
.js-form input::placeholder,
.js-toDoForm input::placeholder{
    color: black;
}
.js-toDoForm{
    margin: 35px 0px;
}
.js-toDoForm input{
    background-color: rgba(0,0,0,0);
    color: black;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}


.js-form input:focus,
.js-toDoForm input:focus
{
    outline: none;
}

.header{
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}
.js-clock{
text-align: right;
}
.main__screen{
    display: flex;
    margin: 200px 0px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  
}
.suvscreen{
    position: absolute;
    top: 5vh;
    left: 5vw;
    margin: 70px 0px;
}
.showing{
    animation: top 0.5s linear;
}
@keyframes top {
    from{
        opacity: 0;
        transform: translateY(20px);
    }to{
        opacity: 1;
        transition: 0;
    }
}

.greetings {
    font-size: 1.5rem;
}
.sencond__screen{
    margin: 10px 0px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.js-weather{
    box-sizing: border-box;
    display: block;
    font-size:20px;
    font-weight: 600;
}



.form,
.greetings{
    display: none;
}
.showing{
    display: block;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn{
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}
.js-toDoList{
    padding-left: 0px;
}
.js-toDoList>li{ 
    text-align: start;
    background-color: rgba(0,0,0,0.2);
}
.js-toDoList>li>span{
    font-size:18px;
    font-weight: 600;
}
ul li {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 9fr 0.5fr 0.5fr;
    gap: 10px;
    align-items: center;
    padding: 8px 10px;
}
.sidenav ul li{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 9fr 0.5fr 0.5fr;
    gap: 10px;
    align-items: center;
    padding: 8px 10px;
}
.completed{
    padding-left: 0;
}

@keyframes shakebutton{
    0%{
transform: none;
    }
50%{
transform: translateY(-3px);
}
    100%{
transform: none;
    }
}
li>button:hover{
    animation: shakebutton 0.8s ease-in-out infinite;
}

.sidenav {
    height:100vh;
    width: 0;
    position: fixed;
    z-index:2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition:0.5s ease-in-out;
    padding-top: 60px;
}
.sidenav li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color:black;
    display: block;
    transition: 0.2s ease-in-out;
    background-color: rgba(0,0,0,0.2);
    text-align:start;
}
.sidenav li:hover, .offcanvas li:focus , .js-toDoList li:hover
{
    color: white;
}
.closebtn {
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 36px !important;
    margin-right: 50px;
    color: gray;
}
.openmenu:hover {
    color:white;
    transition:0.5s ease-in-out;
}
.openmenu {
    font-size: 25px;
    cursor:pointer;
    transition:0.5s ease-in-out;
}
.openmenu > i {
    font-size: 30px;
}
/* 미디어쿼리 적용 */
@media screen and (max-height:450px) {
    .sidenav {
        padding-top:15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
.toDoScreen{
    display: none;
}
.showing{
    display: block;
}
.savetitle{
    margin-left: 20px;
}
@keyframes hidesplashscreen{
    from{
opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}
.splash-screen{
    background-color:  #e6e6e6;
    position:absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    animation: hidesplashscreen 0.3s ease-in-out forwards;
    animation-delay: 3s;
}

.aa{display: flex;
    margin: 350px 20px 350px 0px;
   justify-content: center;
    align-items: center;
}


.splash-screen__text{
    display: block;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.splash-screen__text {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
