@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body{
    font-family:  'Open Sans', sans-serif;
}

.js-form input{
    background-color: rgba(0,0,0,0);
    color: black;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 1.5rem;
    transition: all 0.3s ease-out;
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
.js-form input::placeholder,
.js-toDoForm input::placeholder{
    color: black;
}
.js-toDoForm{
    margin: 35px 0px;
}
.js-toDoForm input{
    background-color: rgba(0,0,0,0);
    color: black;
    border: none;
    border-bottom: 1px solid black;
}

.js-form input:focus,
.js-toDoForm input:focus
{
    outline: none;
}

.header{
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}
.js-clock{
text-align: right;
}
.main__screen{
    display: flex;
    margin: 70px 0px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  
}
.showing{
    animation: top 0.5s linear;
}
@keyframes top {
    from{
        opacity: 0;
        transform: translateY(20px);
    }to{
        opacity: 1;
        transition: 0;
    }
}

.greetings {
    font-size: 1.5rem;
}
.sencond__screen{
    margin: 10px 0px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.js-weather{
    box-sizing: border-box;
    display: block;
    font-size:20px;
    font-weight: 600;
}



.form,
.greetings{
    display: none;
}
.showing{
    display: block;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn{
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}
.js-toDoList{
    padding-left: 0px;
}
li{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 100px;
    background-color: rgba(0,0,0,0.2);
}
li>span{
    font-size:18px;
    font-weight: 600;
}
button{
    margin-left: 60px;
}

@keyframes shakebutton{
    0%{
transform: none;
    }
50%{
transform: translateY(-3px);
}
    100%{
transform: none;
    }
}
li>button:hover{
    animation: shakebutton 0.8s ease-in-out infinite;
}



